<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Danh sách sân bóng</title>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

  <link href='https://fonts.googleapis.com/css?family=Carrois+Gothic+SC' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<a th:href="@{/stadium/create}" class="btn btn-primary">Thêm mới</a>
<center>
  <h1>List stadium</h1>
  <form method="get" th:action="@{/stadium/searchAll}">
    Tên:
    <input name="name" type="text" />

    <select name="area" >
      <option >--Khu vực--</option>
      <option th:each="area : ${areas}" th:value="${area.id}" th:text="${area.name}">
      </option>
    </select>

    <select name="type" >
      <option >--Loại sân--</option>
      <option th:each="type : ${types}" th:value="${type.id}" th:text="${type.peopleAmount}"></option>
    </select>

    <button type="submit">Search</button>
  </form>
  <br/>
  <table class="table table-striped">
    <tr>
      <th>Tên sân</th>
      <th>Địa chỉ</th>
      <th>Khu vực</th>
      <th>Thời gian thuê</th>
      <th>Giá</th>
      <th>Loại sân</th>
      <th>Chức năng</th>

    </tr>
    <th:block th:each="stadium : ${stadiumPage}">
      <tr>
        <td th:text="${stadium.name}"></td>
        <td th:text="${stadium.address}"></td>
        <td th:text="${stadium.area.name}"></td>
        <td th:text="${stadium.timeSlot.timeRange}"></td>
        <td th:text="${stadium.timeSlot.price}"></td>
        <td th:text="${stadium.type.peopleAmount}"></td>
        <td>
          <a th:href="@{/stadium/detail/__${stadium.id}__}" class="btn btn-info">Chi tiết</a>
          <a th:attr="data-stadium-id=${stadium.id}, data-stadium-name=${stadium.name}" class="btn btn-danger delete-link" href="#">Xoá</a>
        </td>
      </tr>
    </th:block>
  </table>
  <div>
    <a class="btn btn-primary" th:if="${stadiumPage.hasPrevious()}" th:href="@{/stadium(page=${stadiumPage.number - 1}, name=${name})}">Previous</a>
    <span th:text="${stadiumPage.number + 1}"></span>/<span th:text="${stadiumPage.totalPages}"></span>
    <a class="btn btn-primary" th:if="${stadiumPage.hasNext()}" th:href="@{/stadium(page=${stadiumPage.number + 1}, name=${name})}">Next</a>
  </div>
  <p></p>
  <!-- Thêm modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Xác nhận xoá</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Bạn có chắc chắn muốn xoá sân <span id="stadiumNameSpan" class="text-danger"></span>?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
          <a id="deleteLink" href="#" class="btn btn-danger">Xoá</a>
        </div>
      </div>
    </div>
  </div>
</center>
<script th:inline="javascript">
  $(document).ready(function() {
    $(".delete-link").click(function() {
      var stadiumId = $(this).data("stadium-id");
      var deleteUrl = "/" + stadiumId + "/delete";
      var stadiumName = $(this).data("stadium-name");
      // Cập nhật tên sân trong modal
      $("#stadiumNameSpan").text(stadiumName);
      $("#deleteLink").attr("href", deleteUrl); // Cập nhật liên kết xoá trong modal
      $("#deleteModal").modal("show"); // Mở modal
    });
  });

</script>
</body>
</html>