<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" th:object="${userDto}">
    FirstName:
    <input th:field="*{firstName}"></br>
    <small style="color: red" th:if="${#fields.hasErrors('firstName')}" th:errors ="*{firstName}"></small><br>
    LastName:
    <input th:field="*{lastName}"></br>
    <small style="color: red" th:if="${#fields.hasErrors('lastName')}" th:errors ="*{lastName}"></small><br>
    Age:
    <input th:field="*{age}"></br>
    <small style="color: red" th:if="${#fields.hasErrors('age')}" th:errors ="*{age}"></small><br>
    NumberPhone:
    <input th:field="*{numberPhone}"></br>
    <small style="color: red" th:if="${#fields.hasErrors('numberPhone')}" th:errors ="*{numberPhone}"></small><br>
    Email:
    <input th:field="*{email}"></br>
    <small style="color: red" th:if="${#fields.hasErrors('email')}" th:errors ="*{email}"></small><br>
    <button type="submit">Save</button>
</form>
</body>
</html>